In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 

import warnings 
warnings.filterwarnings('ignore')

In [2]:
wdi_raw = pd.read_csv('../data/raw/WDIData.csv')

# EDA

In [3]:
wdi_raw.shape

(422136, 64)

In [4]:
wdi_raw.info()

<class 'pandas.DataFrame'>
RangeIndex: 422136 entries, 0 to 422135
Data columns (total 64 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    422136 non-null  str
 1   Country Code    422136 non-null  str
 2   Indicator Name  422136 non-null  str
 3   Indicator Code  422136 non-null  str
 4   1960            38296 non-null   float64
 5   1961            42017 non-null   float64
 6   1962            44198 non-null   float64
 7   1963            44084 non-null   float64
 8   1964            44611 non-null   float64
 9   1965            47305 non-null   float64
 10  1966            46902 non-null   float64
 11  1967            48633 non-null   float64
 12  1968            48209 non-null   float64
 13  1969            50011 non-null   float64
 14  1970            92892 non-null   float64
 15  1971            99126 non-null   float64
 16  1972            101898 non-null  float64
 17  1973            101523 non-null  float64
 18  1974            102838 non-null  float64
 19  1975            106739 non-null  float64
 20  1976            108656 non-null  float64
 21  1977            111988 non-null  float64
 22  1978            111568 non-null  float64
 23  1979            112371 non-null  float64
 24  1980            117218 non-null  float64
 25  1981            119130 non-null  float64
 26  1982            120334 non-null  float64
 27  1983            120112 non-null  float64
 28  1984            120914 non-null  float64
 29  1985            122087 non-null  float64
 30  1986            122924 non-null  float64
 31  1987            124326 non-null  float64
 32  1988            124043 non-null  float64
 33  1989            125804 non-null  float64
 34  1990            150283 non-null  float64
 35  1991            155342 non-null  float64
 36  1992            159292 non-null  float64
 37  1993            160651 non-null  float64
 38  1994            162800 non-null  float64
 39  1995            170546 non-null  float64
 40  1996            170804 non-null  float64
 41  1997            171881 non-null  float64
 42  1998            173814 non-null  float64
 43  1999            179128 non-null  float64
 44  2000            203655 non-null  float64
 45  2001            193654 non-null  float64
 46  2002            198571 non-null  float64
 47  2003            199394 non-null  float64
 48  2004            204796 non-null  float64
 49  2005            218727 non-null  float64
 50  2006            216489 non-null  float64
 51  2007            220471 non-null  float64
 52  2008            219495 non-null  float64
 53  2009            220308 non-null  float64
 54  2010            235880 non-null  float64
 55  2011            226320 non-null  float64
 56  2012            227731 non-null  float64
 57  2013            222939 non-null  float64
 58  2014            227702 non-null  float64
 59  2015            221790 non-null  float64
 60  2016            212990 non-null  float64
 61  2017            186601 non-null  float64
 62  2018            30247 non-null   float64
 63  Unnamed: 63     0 non-null       float64
dtypes: float64(60), str(4)
memory usage: 206.1 MB

In [5]:
wdi_raw.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', 'Unnamed: 63'],
      dtype='str')

In [6]:
wdi_raw.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
0,Arab World,ARB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,82.407647,82.827636,83.169227,83.587141,83.954293,84.230630,84.570425,NaN,NaN,NaN
3,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,86.136134,86.782683,87.288244,88.389705,88.076774,88.517967,88.768654,NaN,NaN,NaN
4,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,74.543489,75.770972,76.772916,78.839139,77.487377,78.564439,78.958780,NaN,NaN,NaN

### filter years (2000- 2018)

In [8]:
years = [str(y) for y in range (2000, 2019)] 
columns_to_keep = ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'] + years
wdi_filtered = wdi_raw[columns_to_keep]
wdi_filtered.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018'],
      dtype='str')

### filter only some of the indicators

In [13]:
indicators_to_keep = [
    'NY.GDP.MKTP.CD',
    'NY.GDP.PCAP.CD',
    'FP.CPI.TOTL.ZG',
    'SL.UEM.TOTL.ZS',
    'SP.POP.TOTL',
    'NE.EXP.GNFS.ZS'
]

wdi_filtered = wdi_filtered[wdi_filtered['Indicator Code'].isin(indicators_to_keep)]
wdi_filtered.shape

(1584, 23)

In [14]:
wdi_long = wdi_filtered.melt(
    id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
    value_vars=years,
    var_name='year',
    value_name='value'
)
wdi_long

,Country Name,Country Code,Indicator Name,Indicator Code,year,value
0,Arab World,ARB,Exports of goods and services (% of GDP),NE.EXP.GNFS.ZS,2000,4.262968e+01
1,Arab World,ARB,GDP (current US$),NY.GDP.MKTP.CD,2000,7.351881e+11
2,Arab World,ARB,GDP per capita (current US$),NY.GDP.PCAP.CD,2000,2.590222e+03
3,Arab World,ARB,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,2000,1.853790e+00
4,Arab World,ARB,"Population, total",SP.POP.TOTL,2000,2.838320e+08
...,...,...,...,...,...,...
30091,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,2018,NaN
30092,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,2018,NaN
30093,Zimbabwe,ZWE,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,2018,NaN
30094,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,2018,NaN
30095,Zimbabwe,ZWE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,2018,4.915000e+00

In [15]:
wdi_long['year'] = wdi_long['year'].astype(int)

In [20]:
wdi_long = wdi_long.dropna(subset=['value'])

In [21]:
saarc_countries = ['Afghanistan', 'Bangladesh', 'Bhutan', 'India', 'Maldives', 'Nepal', 'Pakistan', 'Sri Lanka']

wdi_final = wdi_long[wdi_long['Country Name'].isin(saarc_countries)]

In [22]:
wdi_final.info()

<class 'pandas.DataFrame'>
Index: 854 entries, 286 to 29879
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    854 non-null    str
 1   Country Code    854 non-null    str
 2   Indicator Name  854 non-null    str
 3   Indicator Code  854 non-null    str
 4   year            854 non-null    int64
 5   value           854 non-null    float64
dtypes: float64(1), int64(1), str(4)
memory usage: 46.7 KB

In [27]:
wdi_final = wdi_final.drop_duplicates()

In [ ]:
wdi_final.to_csv('../data/processed/south_asia_economic_metric.csv')
print('Clean WDI South Asia')